@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">Livros</div>
                    <div class="card-body" style="background-color:white;">
                        <h5 class="card-title" style="color:dimgrey;">@ViewBag.TotalLivros</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">Autores</div>
                    <div class="card-body" style="background-color:white;">
                        <h5 class="card-title" style="color:dimgrey;">@ViewBag.TotalAutores</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-info mb-3">
                    <div class="card-header">Assuntos</div>
                    <div class="card-body" style="background-color:white;">
                        <h5 class="card-title" style="color:dimgrey;">@ViewBag.TotalAssuntos</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
}
