
@if(TempData["SuccessMessage"] != null)
{
   <div class="alert alert-success" role="alert">
      @TempData["SuccessMessage"].ToString()
   </div>
}

@if(TempData["ErrorMessage"] != null)
{
   <div class="alert alert-danger" role="alert">
      @TempData["ErrorMessage"].ToString()
   </div>
}